<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Ace CTF 2024!</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
    iframe {
      width: 100vw; /* Full viewport width */
      height: 100vh; /* Full viewport height */
      border: none;  /* Remove border */
    }
  </style>
</head>
<body>
  <iframe src="https://theace-2024.vercel.app/" allowfullscreen></iframe>
</body>
</html>
